.list__container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 0;
    background-color: #FFEEDB;
    h2{
        color: black;
        font-weight: 700;
    
    }
    
    p{
        color: black;
        font-size: 15px;
        
    }
}

